html,
body {
    min-height: 100%;
}

body {
    background-color: azure;
    font-family: 'Montserrat', sans-serif;
    padding-top:90px;
}

a:link {
    color: #00FF7F;
    text-decoration: none;
    background-color: transparent
}

a:visited {
    color: #00cc66;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #FFFF00;
    text-decoration: none;
    background-color: transparent
}

a:active {
    color: white;
    text-decoration: none;
    background-color: #FFFF00;
    padding: 4px;
}

menu {
    margin: auto auto;
    padding: 10px 15px;
}

;
.dropdown {
    position: relative;
    display: inline-block;
}

.header {
    text-align: center;
    position: fixed;
    top:0;
    width:100%;
    background: #fff;
    height: 90px;
}

.mygrid {
    width: 1080px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "work1 work2 work3";
    "work4 work5 work6";
    "footer footer footer";
    margin: auto auto;
}

.mygrid>* {}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: work1;
}

footer {
    background-color: #00FF7F;
    font-color: white;
    margin: auto auto;
    padding: 10px 15px;
}
